@model myTaiwanTest.Models.Text

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Text</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.txtTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txtTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.txtCreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txtCreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.txtUpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txtUpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sign.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sign.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County.countryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County.countryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
